<h1>Editing product</h1>

<%= render 'form' %>

<%= link_to 'Show', account_store_product_path(id: @product.id,store_id: @product.store.id,account_id: @product.store.account.id) %> |
<%= link_to 'Back', account_store_products_path(store_id: @product.store.id,account_id: @product.store.account.id) %>
