<%= render 'search' %>	    
<h1>Listing products</h1>
<hr/>
<%= render 'prodlist' %> 
<hr/>
<%= link_to 'New Product', new_account_store_product_path(account_id: params[:account_id], store_id: params[:store_id]) %>
