<head>
<link rel="stylesheet" href="http://twitter.github.io/typeahead.js/css/examples.css">
</head>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://twitter.github.io/typeahead.js/js/examples.js"></script>
<script src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
<script src="http://twitter.github.io/typeahead.js/js/handlebars.js"></script>

<div class="example" id="the-basics">
        <h2 class="example-name">The Basics</h2>
        <div class="demo">
          <input class="typeahead" type="text" placeholder="States of USA">
        </div>
</div>

